.main {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 20px;
}

.results {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.button {
    margin-top: 10px;
}

.addAthlete {
    display: flex;
    flex-direction: column;
}

.addAthletInput {
    margin-top: 20px;
}