.seasonsBest {
    font-size: 40px;
    color: white;
    margin-bottom: 20px;
    font-family: Helvetica, Arial, sans-serif; 
    font-weight: bold; 
}

.seasonBestContainer {
    max-width: 100%;
}

.firstSeasonBest {
    margin-top: 20px;
    font-size: 25px;
    color: white;
    font-family: Helvetica, Arial, sans-serif; 
    font-weight: bold; 
}

.secondSeasonBest {
    margin-top: 20px;
    font-size: 25px;
    color: white;
    font-family: Helvetica, Arial, sans-serif; 
    font-weight: bold; 
}

.thirdSeasonBest {
    margin-top: 20px;
    font-size: 25px;
    color: white;
    margin-bottom: 10px;
    font-family: Helvetica, Arial, sans-serif; 
    font-weight: bold; 
}